<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
   <head>
    <title>店舗一覧</title>
    <th:block th:replace="~{fragment :: meta}"></th:block>
    <th:block th:replace="~{fragment :: styles}"></th:block>
   </head>

   <body>
       <div class="kadai_002-wrapper">
           <!-- ヘッダー -->
           <div th:replace="~{fragment :: header}"></div>
           
           <main>
               <div class="container kadai_002-container pb-5">
                   <div class="row justify-content-center">
                       <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                           <ol class="breadcrumb mb-0">                        
                               <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                               <li class="breadcrumb-item active" aria-current="page">店舗一覧</li>
                           </ol>
                       </nav>         
           
                       <div class="col-xl-3 col-lg-4 col-md-12">               
                           <form method="get" th:action="@{/houses}" class="w-100 mb-3">
                               <div class="input-group">
                                   <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店舗名・カテゴリ">
                                   <button type="submit" class="btn text-white shadow-sm kadai_002-btn">検索</button> 
                               </div>               
                           </form>
           
                           <div class="card mb-3">
                               <div class="card-header">
                                   カテゴリから探す
                               </div>
                               <div class="card-body">
                                   <form method="get" th:action="@{/houses}" class="w-100">
                                       <div class="form-group mb-3">
                                           <select class="form-control form-select" name="category">  
                                               <option value="" hidden>選択してください</option>                                                                                      
                                                   <option value="うなぎ" th:selected="${category == 'うなぎ'}">うなぎ</option>                                                                                           
                                                   <option value="鉄板焼き" th:selected="${category == '鉄板焼き'}">鉄板焼き</option>                                                
                                                   <option value="ハンバーグ" th:selected="${category == 'ハンバーグ'}">ハンバーグ</option>
                                                   <option value="韓国料理" th:selected="${category == '韓国料理'}">韓国料理</option>
                                                   <option value="パン" th:selected="${category == 'パン'}">パン</option>
                                                   <option value="居酒屋" th:selected="${category == '居酒屋'}">居酒屋</option>
                                                   <option value="中華料理" th:selected="${category == '中華料理'}">中華料理</option>                       
                                                   <option value="スイーツ" th:selected="${category == 'スイーツ'}">スイーツ</option>
                                                   <option value="カレー" th:selected="${category == 'カレー'}">カレー</option>
                                                   <option value="イタリアン" th:selected="${category == 'イタリアン'}">イタリアン</option> 
                                                   <option value="寿司" th:selected="${category == '寿司'}">寿司</option>
                                                   <option value="焼き鳥" th:selected="${category == '焼き鳥'}">焼き鳥</option>
                                                   <option value="パスタ" th:selected="${category == 'パスタ'}">パスタ</option>
                                                   <option value="ラーメン" th:selected="${category == 'ラーメン'}">ラーメン</option>
                                                   <option value="焼肉" th:selected="${category == '焼肉'}">焼肉</option>
                                                   <option value="うどん" th:selected="${category == 'うどん'}">うどん</option>
                                                   <option value="揚げ物" th:selected="${category == '揚げ物'}">揚げ物</option>
                                                                                                                                             
                                           </select> 
                                       </div>
                                       <div class="form-group">
                                           <button type="submit" class="btn text-white shadow-sm w-100 kadai_002-btn">検索</button>
                                       </div>                                           
                                   </form>
                               </div>
                           </div>                
           
                           <div class="card mb-3">
                               <div class="card-header">
                                   予算から探す
                               </div>
                               <div class="card-body">
                                   <form method="get" th:action="@{/houses}" class="w-100">
                                       <div class="form-group mb-3">    
                                           <select class="form-control form-select" name="priceMax">
                                               <option value="" hidden>選択してください</option> 
                                               <option value="1000" th:selected="${priceMax == 1000}">1,000円以内</option>
                                               <option value="2000" th:selected="${priceMax == 2000}">2,000円以内</option>
                                               <option value="3000" th:selected="${priceMax == 3000}">3,000円以内</option>
                                               <option value="5000" th:selected="${priceMax == 5000}">5,000円以内</option>
                                               <option value="10000" th:selected="${priceMax == 10000}">10,000円以内</option>
                                           </select>                                                                                
                                       </div>
                                       <div class="form-group">
                                           <button type="submit" class="btn text-white shadow-sm w-100 kadai_002-btn">検索</button>
                                       </div>                                           
                                   </form>
                               </div>
                           </div>                               
                       </div>
           
                       <div class="col">                                                                          
                           <div class="d-flex justify-content-between flex-wrap">                                
                               <p th:if="${housePage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + housePage.getTotalElements() + '件' + '（' + (housePage.getNumber() + 1) + ' / ' + housePage.getTotalPages() + ' ページ）'}"></p> 
                               <p th:unless="${housePage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + housePage.getTotalElements() + '件'}"></p>  
                               
                                <form method="get" th:action="@{/houses}" class="mb-3 kadai_002-sort-box"> 
                                    <input th:if="${keyword}" type="hidden" name="keyword" th:value="${keyword}">
                                    <input th:if="${category}" type="hidden" name="category" th:value="${category}">
                                    <input th:if="${priceMax}" type="hidden" name="priceMax" th:value="${priceMax}">                                      
                                    <select class="form-select form-select-sm" name="order" onChange="this.form.submit();">
                                        <option value="createdAtDesc" th:selected="${order == 'createdAtDesc' || order == null}">新着順</option>                                            
                                        <option value="priceMaxAsc" th:selected="${order == 'priceMaxAsc'}">料金が安い順</option>
                                    </select>   
                                </form>                                             
                           </div>   
                                                                       
                           <div class="mb-3" th:each="house : ${housePage}">
                               <a th:href="@{/houses/__${house.getId()}__}" class="link-dark kadai_002-card-link">
                                   <div class="card h-100">   
                                       <div class="row g-0">
                                           <div class="col-md-4">                                                                                
                                               <img th:if="${house.getImageName()}" th:src="@{/storage/__${house.getImageName()}__}" class="card-img-top kadai_002-horizontal-card-image" alt="店舗画像">                                                     
                                               <img th:unless="${house.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top kadai_002-horizontal-card-image" alt="NO IMAGE">                                                    
                                           </div> 
                                           <div class="col-md-8">                                                                                                                        
                                               <div class="card-body">                                    
                                                   <h3 class="card-title mb-3" th:text="${house.getName()}"></h3>                                            

                                                   <hr class="mb-3">
                                                   
                                                   <p class="card-text mb-2">
                                                       <span th:text="${house.getDescription()}"></span>
                                                   </p>                                                    
                                                   
                                                   <p class="card-text mb-2">
                                                       <small class="text-muted" th:text="${house.getCategory()}"></small>                                                      
                                                   </p>   
                                                                                                                                                                                                                                  
                                                   <p class="card-text">
                                                       <span th:text="${#numbers.formatInteger(house.getPriceMax(), 1, 'COMMA') + '円'}"></span>
                                                   </p>                                    
                                               </div>
                                           </div>
                                       </div>
                                   </div>    
                               </a>            
                           </div>                                                                                       
           
                           <!-- ページネーション -->
                           <div th:if="${housePage.getTotalPages() > 1}" class="d-flex justify-content-center">
                               <nav aria-label="店舗一覧ページ">
                                   <ul class="pagination">
                                       <li class="page-item">
                                           <span th:if="${housePage.isFirst()}" class="page-link disabled">前</span>
                                           <a th:unless="${housePage.isFirst()}" th:href="@{/houses(page = ${housePage.getNumber() - 1}, keyword = ${keyword}, category = ${category}, priceMax = ${priceMax}, order = ${order})}" class="page-link kadai_002-page-link">前</a>
                                        </li>
                                       <li th:each="i : ${#numbers.sequence(0, housePage.getTotalPages() - 1)}" class="page-item">
                                           <span th:if="${i == housePage.getNumber()}" class="page-link active kadai_002-active" th:text="${i + 1}"></span>
                                           <a th:unless="${i == housePage.getNumber()}" th:href="@{/houses(page = ${i}, keyword = ${keyword}, category = ${category}, priceMax = ${priceMax}, order = ${order})}" class="page-link kadai_002-page-link" th:text="${i + 1}"></a>
                                        </li>
                                       <li class="page-item">                        
                                           <span th:if="${housePage.isLast()}" class="page-link disabled">次</span>
                                           <a th:unless="${housePage.isLast()}" th:href="@{/houses(page = ${housePage.getNumber() + 1}, keyword = ${keyword}, category = ${category}, priceMax = ${priceMax}, order = ${order})}" class="page-link kadai_002-page-link">次</a>
                                        </li>
                                   </ul>
                               </nav> 
                           </div>                                      
                       </div>
                   </div>
               </div>  
           </main>
           
           <!-- フッター -->
           <div th:replace="~{fragment :: footer}"></div>
       </div>    
       
       <div th:replace="~{fragment :: scripts}"></div>  
 </body>
</html>