<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
   <head>
       <div th:replace="~{fragment :: meta}"></div>   
            
       <div th:replace="~{fragment :: styles}"></div>
        
        <!-- Flatpickr -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
          
           
       <title>店舗詳細</title>   
   </head>
   <body>
       <div class="kadai_002-wrapper">
           <!-- ヘッダー -->
           <div th:replace="~{fragment :: header}"></div>
           
           <main>
               <div class="container pt-4 pb-5 kadai_002-container">
                   <div class="row justify-content-center">
                       <div class="col-xxl-9 col-xl-10 col-lg-11">
                           <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                               <ol class="breadcrumb mb-0">                        
                                   <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                   <li class="breadcrumb-item"><a th:href="@{/houses}">店舗一覧</a></li>
                                   <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
                               </ol>
                           </nav> 
                           
                           <!-- タイトルとお気に入りボタン -->
                           <div class="d-flex justify-content-between align-items-center mb-4">
                               <h1 class="mb-0 text-center" th:text="${house.getName()}"></h1>
                               
                               
                               
                           <!-- お気に入り -->
                             	<div th:if="${isPaidUser}">
                                    <div th:if="${hasUserAlreadyLiked}">

                                        <a href="#" onclick="event.preventDefault(); document.getElementById('favorite-form').submit();">&#9829; お気に入り解除</a>
                                        <form method="post" th:action="@{/houses/__${house.getId()}__/favorites/__${favorite.getId()}__/delete}" id="favorite-form" class="d-none"></form>                                        
                                    </div>
                                    
                                    <div th:unless="${hasUserAlreadyLiked}">
                                        <a href="#" onclick="event.preventDefault(); document.getElementById('favorite-form').submit();">&#9825; お気に入り追加</a>
                                        <form method="post" th:action="@{/houses/__${house.getId()}__/favorites/register}" id="favorite-form" class="d-none"></form>                                          
                                    </div>
                            	</div>
                            </div> 
                           
                                                                                     
                           
                           <div th:if="${errorMessage}" class="alert alert-danger">
                               <span th:text="${errorMessage}"></span>
                           </div>                                                                         
                           
                           <div class="mb-4">
                               <img th:if="${house.getImageName()}" th:src="@{/storage/__${house.getImageName()}__}" class="w-100" alt="店舗画像">
                               <img th:unless="${house.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
                           </div> 
                           
                           <div class="container">  
                               <div class="row">
                                   <div class="col-lg-8 container mb-4">            
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">店舗名</span>
                                           </div>
                   
                                           <div class="col">
                                               <span th:text="${house.getName()}"></span>
                                           </div>
                                       </div>                    
                   
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">説明</span>
                                           </div>
                   
                                           <div class="col">
                                               <span class="kadai_002-pre-wrap" th:text="${house.getDescription()}"></span>
                                           </div>
                                       </div>
                   
                               <div class="row pb-2 mb-2 border-bottom">
                                   <div class="col-4">
                                       <span class="fw-bold">料金</span>
                                   </div>
           
                                   <div class="col">
                                        <span th:text="${#numbers.formatInteger(house.getPriceMin(), 1, 'COMMA') + '円～' + #numbers.formatInteger(house.getPriceMax(), 1, 'COMMA') + '円'} "></span>
                                   </div>
                               </div>      
                               
                               <div class="row pb-2 mb-2 border-bottom">
                                   <div class="col-4">
                                <span class="fw-bold">営業時間</span>
                                   </div>
           
                                   <div class="col">
                                       <span th:text="${house.getStartTime()+ '時～'+ house.getEndTime()+ '時'}"></span>
                                   </div>
                               </div>                           
            
                                            
                               <div class="row pb-2 mb-2 border-bottom">
                                   <div class="col-4">
                                <span class="fw-bold">定休日</span>
                                   </div>
           
                                   <div class="col">
									    <span th:text="${house.getHolidayDisplay()}"></span>
                                   </div>
                               </div>                              
                                        
                                        
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">郵便番号</span>
                                           </div>
                   
                                           <div class="col">
                                               <span th:text="${house.getPostalCode()}"></span>
                                           </div>
                                       </div>   
                                       
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">住所</span>
                                           </div>
                   
                                           <div class="col">
                                               <span th:text="${house.getAddress()}"></span>
                                           </div>
                                       </div>   
                                       
                                       <div class="row pb-2 mb-2 border-bottom">
                                           <div class="col-4">
                                               <span class="fw-bold">電話番号</span>
                                           </div>
                                           
                                           <div class="col">
                                       <span th:text="${house.getPhoneNumber()}"></span>    
                                     </div>
                               </div>
          
                                       
                              <div class="row pb-2 mb-2 border-bottom">
                                   <div class="col-4">
                                       <span class="fw-bold">カテゴリ</span>
                                   </div>
           
                                   <div class="col">
                                       <span th:text="${house.getCategory()}"></span>
                                       
                                   </div>
                               </div>                             
                                 
                                   <div class="col-lg-4 px-0 ps-lg-4 mb-4">
                                    <div sec:authorize="isAnonymous()">
                                      <div class="card text-center shadow-sm" style="height: 100px; width: 300%; display: flex; align-items: center; justify-content: center; border-radius: 1rem;">
                                         <div>
                                            <p class="card-text mb-4">予約するには<a th:href="@{/login}">ログイン</a>が必要です。</p>                                                                                                                                            
                                            <a th:href="@{/login}" class="btn text-white kadai_002-btn">ログインして予約する</a>
                                         </div>                                                                                                               
                                    </div> 
                                   </div>

                                   
                             <div sec:authorize="isAuthenticated()">        
                               <form method="post" th:action="@{/houses/{houseId}/reservations/confirm(houseId=${house.getId()})}" th:object="${reservationInputForm}">
							
							

                          <!-- 予約日 -->
                            <div class="form-group mb-2">
                              <label for="reservationDate" class="col-form-label text-md-left fw-bold" >予約日</label>
                                <div th:if="${#fields.hasErrors('reservationDate')}" class="text-danger small mb-2" th:errors="*{reservationDate}"></div>
                                    <input type="date" class="form-control" style="height: 50px; width: 200%; display: flex; align-items: center; justify-content: center; border-radius: 1rem;" th:field="*{reservationDate}">
                            </div>

                          <!-- 予約時間 -->
                            <div class="form-group mb-2">
                              <label for="reservationTime" class="col-form-label text-md-left fw-bold">予約時間</label>
                               <div th:if="${#fields.hasErrors('reservationTime')}" class="text-danger small mb-2" th:errors="*{reservationTime}"></div>                                
                                                         <select class="form-control form-select resevation-select"  style="height: 50px; width: 200%; display: flex; align-items: center; justify-content: center; border-radius: 1rem;"th:field="*{reservationTime}" >
  <option value="">選択してください</option>
  <option value="10:00">10:00</option>
  <option value="11:00">11:00</option>
  <option value="12:00">12:00</option>
  <option value="13:00">13:00</option>
  <option value="14:00">14:00</option>
  <option value="15:00">15:00</option>
  <option value="16:00">16:00</option>
  <option value="17:00">17:00</option>
  <option value="18:00">18:00</option>
  <option value="19:00">19:00</option>
  <option value="20:00">20:00</option>
  <option value="21:00">21:00</option>
  <option value="22:00">22:00</option>
</select>
                             </div>


                           <!-- 人数 -->
                             <div class="form-group mb-4">
                               <label for="numberOfPeople" class="col-form-label text-md-left fw-bold">人数</label>
                                 <div th:if="${#fields.hasErrors('numberOfPeople')}" class="text-danger small mb-2" th:errors="*{numberOfPeople}"></div>
                                     <input type="number" class="form-control"style="height: 50px; width: 200%; display: flex; align-items: center; justify-content: center; border-radius: 1rem;" th:field="*{numberOfPeople}" min="1">
                             </div>

                           <!-- ボタン -->
                             <div class="form-group">
                               <button type="submit" class="btn text-white shadow-sm w-100 kadai_002-btn" style="height: 50px; width: 200%; display: flex; align-items: center; justify-content: center; border-radius: 1rem;">予約する</button>
                             </div>
                            </form>
                          </div>
                          
                                    </div>
                                   </div>
                               
                               <!-- レビューセクション -->
                        <div class="container px-0">
                            <h2 class="mb-4 text-center">レビュー</h2>
                            
                            <!-- 有料会員にのみ表示 -->
                            <div th:if="${isPaidUser}" sec:authorize="isAuthenticated()" th:unless="${hasUserAlreadyReviewed}" class="row justify-content-center mb-4">
                                <div class="col-lg-4">
                                    <a th:href="@{/houses/__${house.getId()}__/reviews/register}" class="btn text-white shadow-sm w-100 kadai_002-btn">レビューを投稿する</a>
                                </div>
                            </div>
                            
                            <!-- レビューがない場合 -->
                            <div th:if="${#lists.isEmpty(newReviews)}" class="mb-4">                                    
                                <p class="text-center">まだレビューがありません。</p>                                    
                            </div>     
                            
                             <!-- レビューがある場合 -->                                                            
                            <div th:unless="${#lists.isEmpty(newReviews)}" class="row row-cols-1 row-cols-md-2 g-4 mb-4">
                                <div th:each="review : ${newReviews}">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <h5 class="card-title" th:text="${review.getUser().getName()}"></h5>
                                                    
                                                  
                                                    <span sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.id == review.getUser().getId()}">
                                                        <a th:href="@{/houses/__${house.getId()}__/reviews/__${review.getId()}__/edit}" class="me-2">編集</a>
                                                        <a href="#" class="kadai_002-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteReviewModal' + review.getId()}">削除</a>
                                                        
                                                        <!-- 削除用モーダル -->
                                                        <div class="modal fade" th:id="${'deleteReviewModal' + review.getId()}" tabindex="-1" th:aria-labelledby="${'deleteReviewModalLabel' + review.getId()}">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" th:id="${'deleteReviewModalLabel' + review.getId()}" th:text="${house.getName() + 'のレビューを削除してもよろしいですか？'}"></h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <form method="post"th:action="@{/houses/__${house.getId()}__/reviews/__${review.getId()}__/delete}">
                                                                            <button type="submit" class="btn kadai_002-btn-danger text-white shadow-sm">削除</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                                                                                                            
                                                    </span>      
                                                </div>                                              
                                                <p class="card-text mb-1">
                                                    <span class="kadai_002-star" th:each="star : ${#numbers.sequence(1, 5)}" th:text="${star <= review.getScore()} ? '&#9733;' : '&#9734;'"></span>
                                                </p>                      
                                                <p class="card-text"><small class="text-muted" th:text="${#dates.format(review.getCreatedAt(), 'yyyy年MM月dd日')}"></small></p>                              
                                                <p class="card-text" th:text="${review.getComment()}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                     
                            </div>    
                            <div class="text-center mb-4" th:if="${totalReviewCount > 6}">
                                <a th:href="@{/houses/__${house.getId()}__/reviews}">すべてのレビューを見る</a>
                              </div>                                                                                             
                           </div>
                       </div>
                   </div>
               </div>
           </main>
           
           <!-- フッター -->
           <div th:replace="~{fragment :: footer}"></div>
       </div>    
       
       <div th:replace="~{fragment :: scripts}"></div>  
       
               <!-- Flatpickr -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
        <script th:src="@{/js/flatpickr.js}"></script>        
 
 </body>
</html>