<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>        
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
       
        <title>NagoyaMeshi</title>	
    </head>
    <body>
        <div class="kadai_002-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 kadai_002-container">
                    <div th:if="${param.loggedIn}" class="alert alert-info">
                        ログインしました。
                    </div>  
                    
                    <div th:if="${param.loggedOut}" class="alert alert-info">
                        ログアウトしました。
                    </div>
                    
                    <div class="d-flex justify-content-center">                                            
                        <form method="get" th:action="@{/houses}" class="mb-5 kadai_002-search-form">
                            <div class="input-group">
                                <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店舗名・カテゴリ">
                                <button type="submit" class="btn text-white shadow-sm kadai_002-btn">検索</button> 
                            </div>               
                        </form>                        
                    </div>                                                                                                  
                                                     
                    <h2 class="text-center mb-3">新着</h2>
                    <div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">                                        
                        <div class="col" th:each="newHouse : ${newHouses}">
                            <a th:href="@{/houses/__${newHouse.getId()}__}" class="link-dark kadai_002-card-link">
                                <div class="card h-100">                                                                        
                                    <img th:if="${newHouse.getImageName()}" th:src="@{/storage/__${newHouse.getImageName()}__}" class="card-img-top kadai_002-vertical-card-image" alt="店舗画像">                                     
                                    <img th:unless="${newHouse.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top kadai_002-vertical-card-image" alt="NO IMAGE">                                                                                                                        
                                    <div class="card-body">                                    
                                        <h3 class="card-title" th:text="${newHouse.getName()}"></h3>
                                        <p class="card-text mb-1">
                                            <small class="text-muted" th:text="${newHouse.getCategory()}"></small>                                            
                                        </p>
                                        <p class="card-text">
                                            <span th:text="${#numbers.formatInteger(newHouse.getPriceMax(), 1, 'COMMA') + '円'}"></span>                                            
                                        </p>                                    
                                    </div>
                                </div>    
                            </a>            
                        </div>                                               
                    </div>



                    
                    <div th:if="${successMessage}" class="alert alert-info">
                        <span th:text="${successMessage}"></span>
                    </div>      
                </div>
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <div th:replace="~{fragment :: scripts}"></div>  
	</body>
</html>