<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>無効なリセットリンク</title>
</head>
<body>
<div class="kadai_002-wrapper">
    <div th:replace="~{fragment :: header}"></div>

    <main>
        <div class="container pt-4 pb-5 kadai_002-container">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">
                    <h1 class="mb-4 text-center">無効なリセットリンク</h1>
                    <p>提供されたリンクは無効です。再度メールを確認して、新しいリンクを使用してください。</p>

                    <div class="text-center">
                        <a th:href="@{/login}">ログインページに戻る</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="~{fragment :: footer}"></div>
</div>

<div th:replace="~{fragment :: scripts}"></div>
</body>
</html>
